<%= link_to("<< Back to List", words_path, :class => 'back-link') %>

<div class="words edit">
  <h2>Update Word</h2>

  <%= form_for(@word, :url => words_update_path(@word.id), :method => 'patch') do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons">
      <%= f.submit("Update Word") %>
    </div>

  <% end %>
</div>