<%= @word_title = "Add Word" %>

<div class="words new">
	<h2>Add Word</h2>

	<%= form_for(@word, :url => words_index_path, :method => 'post') do |f| %>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons">
      <%= f.submit("Add Word") %>
    </div>

  <% end %>
	
</div>